* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: #FFFAFA;
}

.container {
    width: 735px;
    height: 511px;
    justify-content: center;
    align-items: center;
    display: flex;  
    background-color: #FFFFFF;
    border-radius: 28px;
    box-shadow: 0 10px 20px #00000025;
}

.container .side {
    background-color: #312CEB;
    width: 367px;
    height: 514px;
    align-items: center;
    border-radius: 33px;

}

.container .side2 {
    width: 368px;
    height: 514px;
    background-color: ;
    border-radius: 28px;
}

.container .side .titulo {
    color: white;
    text-align: center;
    margin-top: 44px;
    padding-bottom: 38px;
    font-weight: ;
}

.container .side .num {
    font-size: 90px;
    text-align: center;
    padding-top: 30px;
    color: white;

}

h3 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.container .side .para {
    padding-top: 47px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.container .circulo {
    border-radius: 95.5px;
    background-color: hsla(256, 72%, 46%, 1);
    width: 199px;
    height: 193px;
    margin-left: 83px;
    border-color: hsla(241, 72%, 46%, 0);

}

.container .side .desc {
    color: white;
    font-weight: ;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
}

.container .side2{
    background-color: white;
    display: flex;
    flex-direction: column;
}

.container .reaction{
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 0 14px;
    padding-bottom: 20px;
    padding-top:20px ;
}
.container .memory{
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 0 14px;
}
.container .verbal{
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 0 14px;
}
.container .visual{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px
    
}


.container .side2 .sumario{
    text-align: ;
    padding-bottom: 32px;
    padding-top: 50px;
    margin-left: 30px;
}
.container .side2 .reaction{
    width: 289px;
    height: 52px;
    border-radius: 5px;
    margin-left: 37px;
    border: solid 4px;
    border-color: red;
}
.container .side2 .memory{
    width: 289px;
    height: 52px;
    border-radius: 5px;
    border-color:;
    margin-left: 37px;
    background-color: ;
    border: solid 5px;
    border-color: yellow;

}

.container .side2 .verbal{
    width: 289px;
    height: 52px;
    border-radius: 5px;
    margin-left: 37px;
    border: solid 4px;
    border-color: green;
    
}
.container .side2 .visual{
    width: 289px;
    height: 52px;
    border-radius: 5px;
    border-color: red;
    margin-left: 37px;
    border: solid 4px;
    border-color:blue
}
.container .side2 .categoria{
    padding-right: 65px;
}
.container .side2 .icon{
 padding-right: 8px;
}
.container .botao{
   margin-top:50px ;
   width: 289px;
   height: 56px;
   justify-content: center;
   display: flex;
   align-items: center;
   margin-left: 41px;
   border-radius: 20px;
   background-color: #303B59;
   
}
.container .botao .co{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
@media only screen and ( max-width: 600px ) {
    body{
        height: initial;
    }
    .container{
        width: 100%;
        height: 100%;
        flex-direction: column;
        border-radius: 0;
    }
   
    .container .side{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding-bottom: 30px;
    }
    .container .side2{
        padding-bottom: 30px;
    }
}



